body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f6f8;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}
@media screen and (min-width: 940px) {
    header{
        max-width: 1000px;
    }
}
@media screen and (min-width: 1240px) {
    header{
        max-width: 1540px;
    }
}
header .smallHeader{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f2f3f5;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
}
@media screen and (min-width: 940px) {
    header .smallHeader{
        max-width: 900px;
        padding-right: 0px;
        padding-left: 0px;
    }
}
@media screen and (min-width: 1240px) {
    header .smallHeader{
        max-width: 1200px;
    }
}
header .smallHeader .mail{
    background-image: url(../image/mail.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    font-size: 10px;
    background-size: 10px;

}
@media screen and (min-width: 1240px) {
    header .smallHeader .mail{
        background-image: url(../image/mail.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 35px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 940px) {
    header .smallHeader .mail{
        background-image: url(../image/mail.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 35px;
        padding-right: 15px;
        padding-top: 3px;
        font-size: 15px;
        background-size: 18px;
    }
}
header .smallHeader .phone{
    background-image: url(../image/phone.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 27px;
    font-size: 10px;
    background-size: 10px;
}
@media screen and (min-width: 940px) {
    header .smallHeader .phone{
        background-image: url(../image/phone.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 27px;
        padding-top: 3px;
        font-size: 15px;
        background-size: 18px;
    }
}
@media screen and (min-width: 1240px) {
    header .smallHeader .mail{
        background-image: url(../image/mail.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 35px;
        padding-right: 15px;
        background-size: 18px;
    }
}
@media screen and (min-width: 940px) {
        header .social{
            padding-left: 350px;
        }
}
@media screen and (min-width: 1240px) {
    header .social{
        padding-left: 650px;
    }
}
header .social ul{
    display: flex;
}
header .social li{
    padding-left: 15px;
}
header .social a{
    color: #34404b;
}
header .social a:hover{
    color: #ff5912;
}
header .bigHeader{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 25px;
}
@media screen and (min-width: 300px) {
    header .bigHeader{
        max-width: 600px;
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media screen and (min-width: 940px) {
    header .bigHeader{
        max-width: 900px;
    }
}
@media screen and (min-width: 1240px) {
    header .bigHeader{
        max-width: 1200px;
    }
}
header .bigHeader .logo  img{
    width: 60px;
}
@media screen and (min-width: 940px) {
    header .bigHeader .logo  img{
        width: 100%;
    }
}
header .bigHeader ul{
    display: flex;
}
@media screen and (min-width: 300px) {
    header .bigHeader ul{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (min-width: 580px) {
    header .bigHeader ul{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: row;
    }
}
@media screen and (min-width: 1240px) {
    header .bigHeader ul{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: row;
    }
}
header .bigHeader .links li{
    padding-left: 0;
    padding-bottom: 10px;
    padding-left: 15px;
}
@media screen and (min-width: 940px) {
    header .bigHeader .links li{
    padding-left: 55px;
    }
}
@media screen and (min-width: 1240px) {
    header .bigHeader .links li{
        padding-left: 55px;
    }
}
header .bigHeader .links a{
    color: #34404b;
    font-size: 14px;
    font-weight: bold;
}
@media screen and (min-width: 1240px) {
    header .bigHeader .links a{
    font-size: 18px;
    }
}
header .bigHeader .links a:hover{
    color: #ff5912;
}
@media screen and (min-width: 300px) {
    header .bigHeader .search ul{
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 940px) {
    header .bigHeader .search{
        display: flex;
        flex-direction: column;
    }
}
header .bigHeader .search li{
    padding-left: 25px;
    margin-top: auto;
}
@media screen and (min-width: 300px) {
    header .bigHeader .search li{
        padding-left: 10px;
        margin-top: auto;
    }
}
section .featured{
    background-image: url(../image/featured.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
@media screen and (min-width: 300px) {
    section .featured{
        background-image: url(../image/featured.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
}
@media screen and (min-width: 940px) {
    section .featured{
        background-image: url(../image/featured.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
}
@media screen and (min-width: 1240px) {
    section .featured{
        background-image: url(../image/featured.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
}
section .featured .content{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 90px 40px;
    position: relative;
}

@media screen and (min-width: 940px) {
    section .featured .content{
        max-width: 900px;
        padding: 150px 75px;
    }
}
@media screen and (min-width: 1240px) {
    section .featured .content{
        max-width: 1200px;
        padding: 250px 100px;
    }
}
section .featured .content .line-orange{
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 36px;
    background-color: #ff5912;
    display: inline-block;
}
section .featured .content .line-orange::after{
    content: "";
    width: 10px;
    height: 17px;
    background-color: #fff;
    position: absolute;
    top: -28px;
    left: 0;
}
section .featured .content .line-orange::before{
    content: "";
    width: 10px;
    height: 17px;
    background-color: #fff;
    position: absolute;
    bottom: -28px;
    left: 0;
}
section .featured .content img{
    position: absolute;
    top: 185px;
    left: 165px;
}
section .featured .content h1{
    color: #ff5912;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 30px;
}
@media screen and (min-width: 940px) {
    section .featured .content h1{
        font-size: 30px;
    }
}
@media screen and (min-width: 1240px) {
    section .featured .content h1{
        font-size: 50px;
    }
}
section .featured .content .first{
    color: #3c4751;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.8;
}
@media screen and (max-width: 940px) {
    section .featured .content .first{
        font-size: 14px;
    }
}
@media screen and (min-width: 1240px) {
    section .featured .content .first{
        font-size: 18px;
    }
}
section .featured .content .second{
    color: #788089;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.8;
    padding-left: 10px;
}
@media screen and (max-width: 940px) {
    section .featured .content .second{
        font-size: 14px;
    }
}
@media screen and (min-width: 1240px) {
    section .featured .content .second{
        font-size: 18px;
    }
}
section .featured .content ul{
    display: flex;
    padding-top: 25px;
}
section .featured .content ul li{
    padding-right: 19px;
}
section .featured .content ul li a{
    color: #34404b;
    font-weight: bold;
    font-size: 12px;
}
@media screen and (min-width: 1240px) {
    section .featured .content ul li a{
        color: #34404b;
        font-weight: bold;
        font-size: 18px;
    }
}
@media screen and (min-width: 940px) {
    section .featured .content ul li a{
        color: #34404b;
        font-weight: bold;
        font-size: 15px;
    }
}
section .featured .content ul li:last-child a{
    color: #ff5912;
}
section .featured .content ul li:last-child{
    background-image: url(../image/card-ico.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
}
section .newArrivals{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 940px) {
    section .newArrivals{
        max-width: 900px;
    }
}
@media screen and (min-width: 1240px) {
    section .newArrivals{
        max-width: 1200px;
    }
}
section .newArrivals .content{
    text-align: center;
    padding-top: 60px;
}
@media screen and (min-width: 300px) {
    section .newArrivals .content{
        text-align: center;
        padding-top: 40px;
        line-height: 1.6;
    }
}
@media screen and (min-width: 940px) {
    section .newArrivals .content{
        text-align: center;
        padding-top: 80px;
    }
}
@media screen and (min-width: 1240px) {
    section .newArrivals .content{
        text-align: center;
        padding-top: 120px;
    }
}
section .newArrivals .content h1{
    font-size: 20px;
    font-weight: bold;
    color: #34404b;
    padding-bottom: 20px;
}
@media screen and (min-width: 940px) {
    section .newArrivals .content h1{
        font-size: 25px;
        font-weight: bold;
        color: #34404b;
        padding-bottom: 25px;
    }
}
@media screen and (min-width: 1240px) {
    section .newArrivals .content h1{
        font-size: 30px;
        font-weight: bold;
        color: #34404b;
        padding-bottom: 35px;
    }
}
section .newArrivals .content span{
    color: #ff5912;
}
section .newArrivals .content p{
    color: #495662;
    padding-bottom: 35px;
    font-size: 15px;
}
@media screen and (min-width: 300px) {
    section .newArrivals .content p{
        color: #495662;
        padding-bottom: 35px;
        font-size: 10px;
    }
}
@media screen and (min-width: 940px) {
    section .newArrivals .content p{
        color: #495662;
        padding-bottom: 55px;
    }
}
@media screen and (min-width: 1240px) {
    section .newArrivals .content p{
        color: #495662;
        padding-bottom: 85px;
        font-size: 18px;
    }
}
.owl-carousel{
    margin-bottom: 120px;
}
.vip{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.owl-dots{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-color: #fff;
    min-height: 60px;
}
.owl-dots button{
    margin: 0 5px;
    outline: none;
}
.owl-dots button span{
    width: 8px;
    height: 8px;
    background-color: #ff5912;
    border-radius: 100%;
    display: inline-block;
}
.owl-dots button:focus span{
    width: 8px;
    height: 8px;
    background-color: grey;
    border-radius: 100%;
    display: inline-block;
}
section .yourAdv{
    max-width: 600px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 75px;
}
@media screen and (min-width: 940px) {
    section .yourAdv{
        max-width: 900px;
        margin-bottom: 95px;
    }
}
@media screen and (min-width: 1240px) {
    section .yourAdv{
        max-width: 1200px;
        margin-bottom: 115px;
    }
}
section .yourAdv .hotdeal{
    padding: 20px 0;
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex: 4;
    margin-right: 30px;
    padding-left: 65px;
}
@media screen and (min-width: 940px) {
    section .yourAdv .hotdeal{
        padding: 25px 0;
        position: relative;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        flex: 3;
        margin-right: 30px;
        padding-left: 100px;
    }
}
@media screen and (min-width: 1240px) {
    section .yourAdv .hotdeal{
        padding: 30px 0;
        position: relative;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        flex: 3;
        margin-right: 30px;
        padding-left: 100px;
    }
}
section .yourAdv .hotdeal .sale{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section .yourAdv .hotdeal::before{
    content: "";
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url(../image/sale.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    left: 15px;
    top: 30%;
}
@media screen and (min-width: 940px) {
    section .yourAdv .hotdeal::before{
        content: "";
        width: 60px;
        height: 60px;
        display: inline-block;
        background-image: url(../image/sale.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        left: 30px;
        top: 25%;
    }
}
@media screen and (min-width: 1240px) {
    section .yourAdv .hotdeal::before{
        content: "";
        width: 81px;
        height: 81px;
        display: inline-block;
        background-image: url(../image/sale.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        left: 30px;
        top: 20%;
    }
}

section .yourAdv .hotdeal h1{
    font-size: 18px;
    font-weight: bold;
    color: #34404b;
}
@media screen and (min-width: 300px) {
    section .yourAdv .hotdeal h1{
        font-size: 12px;
        font-weight: bold;
        color: #34404b;
    }
}
@media screen and (min-width: 940px) {
    section .yourAdv .hotdeal h1{
        font-size: 20px;
        font-weight: bold;
        color: #34404b;
    }
}
section .yourAdv .hotdeal p{
    font-size: 10px;
    color: #34404b;
    padding-top: 10px;
}
@media screen and (min-width: 300px) {
    section .yourAdv .hotdeal p{
        font-size: 10px;
        color: #34404b;
        padding-top: 10px;
    }
}
@media screen and (min-width: 940px) {
    section .yourAdv .hotdeal p{
        font-size: 12px;
        color: #34404b;
        padding-top: 20px;
        font-weight: bold;
    }
}
section .yourAdv .price p{
    font-size: 33px;
    background-image: url(../image/add-to-card.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-left: 35px;
}

section .yourAdv .price a{
    color: #ff5912;
    font-size: 18px;
}
@media screen and (min-width: 940px) {
    section .yourAdv .price a{
        color: #ff5912;
        font-size: 22px;
    }
}
section .yourAdv .adv{
    padding: 40px 0;
    position: relative;
    background-color: #fff;
    flex: 2;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
section .yourAdv .adv .area{
    color: #34404b;

}
section .yourAdv .adv .area span{
    color: #ff5912;
}
section .yourAdv .adv .size{
    color: #aeb3b7;
    font-weight: lighter;
    padding-top: 10px;
}
section .bestSales{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
@media screen and (min-width: 940px) {
    section .bestSales{
        max-width: 900px;
        margin-bottom: 100px;
    }
}
@media screen and (min-width: 1240px) {
    section .bestSales{
        max-width: 1200px;
        margin-bottom: 120px;
    }
}
section .bestSales .content{
    text-align: center;
}
section .bestSales .content h1{
    font-size: 25px;
    font-weight: bold;495662
    color: #34404b;
    padding-bottom: 35px;
}
@media screen and (min-width: 940px) {
    section .bestSales .content h1{
        font-size: 30px;
    }
}
section .bestSales .content h1 span{
    color: #ff5912;
}
section .bestSales .content p{
    color: #495662;
    padding-bottom: 45px;
}
@media screen and (min-width: 300px) {
    section .bestSales .content p{
        color: #495662;
        padding-bottom: 35px;
        font-size: 10px;
    }
}
@media screen and (min-width: 940px) {
    section .bestSales .content p{
        color: #495662;
        padding-bottom: 85px;
    }
}
section .bestSales .product{
    text-align: center;
    max-width: 600px;
}
@media screen and (min-width: 940px) {
    section .bestSales .product{
        max-width: 900px;
    }
}
@media screen and (min-width: 1240px) {
    section .bestSales .product{
        max-width: 1200px;
    }
}
section .bestSales .product ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media screen and (min-width: 1240px) {
    section .bestSales .product ul{
        display: flex;
        justify-content: space-between;
    }
}
section .bestSales .product li{
    padding-bottom: 15px;
}
section .news{
    max-width: 600px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}
@media screen and (min-width: 300px) {
    section .news{
        padding: 20px 0;
    }
}
@media screen and (min-width: 940px) {
    section .news{
        max-width: 900px;
        min-height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 60px 0;
    }
}
@media screen and (min-width: 1240px) {
    section .news{
        max-width: 1200px;
        flex-direction: row;
    }
}
section .news .letter{
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    padding-bottom: 10px;

}
@media screen and (min-width: 940px) {
    section .news .letter{
        padding-left: 57px;
            padding-right: 30px;
    }
}
@media screen and (min-width: 1240px) {
    section .news .letter{
        padding-left: 57px;
        padding-right: 250px;
        margin-top: 15px;
    }
}
section .news ul{
    display: inline-block;
    font-style: italic;
}
@media screen and (min-width: 300px) {
    section .news ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;
    }
}
@media screen and (min-width: 940px) {
    section .news ul{
        display: flex;
        font-style: italic;
        align-items: left;
        flex-direction: row;
    }
}
section .news .letter li{
    display: flex;
    font-style: normal;
    font-size: 20px;
    color: #ff5912;
    font-weight: bold;
}
@media screen and (min-width: 1240px) {
    section .news .letter li{
        display: flex;
        font-style: normal;
        font-size: 18px;
        color: #ff5912;
        font-weight: bold;
    }
}
section .news .letter li:last-child{
    font-size: 11px;
    padding-left: 0;
    color: #495662;
    display: flex;
    font-style: italic;
    align-items: center;
    padding-top: 5px;
}
@media screen and (min-width: 940px) {
    section .news .letter li:last-child{
        display: flex;
        font-style: italic;
        color: #495662;
        font-size: 12px;
        padding-left: 15px;
    }
}
@media screen and (min-width: 1240px) {
    section .news .letter li:last-child{
        display: flex;
        font-style: italic;
        color: #495662;
        font-size: 15px;
        padding-left: 15px;
        align-items: center;
    }
}
section .typeEmail{
    display: flex;
    align-items: center;
}
section .typeEmail input{
    border: 0;
    background-image: url(../image/mail.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    color: #7c8791;
    padding-right: 60px;
    outline: none;
}
@media screen and (min-width: 300px) {
    section .typeEmail input{
        border: 0;
        background-image: url(../image/mail.png);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 30px;
        color: #7c8791;
        padding-right: 0;
        outline: none;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 940px) {
    section .typeEmail input{
        border: 0;
        background-image: url(../image/mail.png);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 30px;
        color: #7c8791;
        padding-right: 0;
        outline: none;
        padding-right: 60px;
    }
}
section .joinUs{
    display: flex;
    align-items: center;
}
section .joinUs button{
    outline: none;
    background-color: #ff5912;
    width: 60px;
    height: 30px;
    border: 0;
    color: #fff;
    border-radius: 5px;
}
@media screen and (min-width: 1240px) {
    section .joinUs button{
        outline: none;
        background-color: #ff5912;
        width: 100px;
        height: 50px;
        border: 0;
        color: #fff;
        border-radius: 5px;
    }
}
section .joinUs button:hover{
    outline: none;
    background-color: #7c8791;
    width: 60px;
    height: 30px;
    border: 0;
    color: #fff;
    border-radius: 5px;
}
@media screen and (min-width: 1240px) {
    section .joinUs button:hover{
        outline: none;
        background-color: #7c8791;
        width: 100px;
        height: 50px;
        border: 0;
        color: #fff;
        border-radius: 5px;
    }
}
section .joinUs a{
    padding-right: 10px;
    padding-right: 20px;
}
footer{
    background-color: #fff;
}
footer .topFooter{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 80px 15px;
    flex-wrap: wrap;
}
@media screen and (min-width: 940px) {
    footer .topFooter{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 15px;
    }
}
@media screen and (min-width: 1240px) {
    footer .topFooter{
        max-width: 1200px;
    }
}
footer .logo{
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}
@media screen and (min-width: 940px) {
    footer .logo{
        width: auto;
            text-align: left;
    }
}
footer .logo img{
    padding-bottom: 25px;
    width: 117px;
}
footer .logo p{
    color: #28313b;
    font-size: 12px;
    font-weight: bold;
}
@media screen and (min-width: 1240px) {
    footer .logo p{
        color: #28313b;
        font-size: 15px;
        font-weight: bold;
    }
}
footer .topFooter ul{
    flex-direction: column;
    width: 100%;
}
@media screen and (min-width: 940px) {
    footer .topFooter ul{
    flex-direction: column;
    }
}
footer .topFooter li{
    padding-bottom: 23px;
    list-style: none;
    font-size: 12px;
}
@media screen and (min-width: 940px) {
    footer .topFooter li{
        padding-bottom: 23px;
        list-style: disc;
        font-size: 12px;
    }
}
@media screen and (min-width: 1240px) {
    footer .topFooter li{
        padding-bottom: 23px;
        list-style: disc;
    }
}
footer .topFooter .three{
    padding-bottom: 50px;
}
footer .topFooter a{
    color: #28313b;
    font-weight: bold;

    font-size: 15px;
}
@media screen and (min-width: 1240px) {
    footer .topFooter a{
        color: #28313b;
        font-weight: bold;
    }
}
footer .topFooter ul li:hover{
    color: #ff5912;
}
footer .topFooter ul a:hover{
    color: #ff5912;
}
footer .topFooter .payment{
    width: 100%;
    background-image: url(../image/payment.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170px;
    font-size: 14px;
    font-weight: bold;
    color: #ff5912;
    padding-bottom: 60px;
    text-align: center;

}
@media screen and (min-width: 940px) {
    footer .topFooter .payment{
        width: auto;
        background-image: url(../image/payment.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110px;
        font-size: 14px;
        font-weight: bold;
        color: #ff5912;
        padding-top: 20px;
    }
}
@media screen and (min-width: 1240px) {
    footer .topFooter .payment{
        background-image: url(../image/payment.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 140px;
        font-size: 16px;
        font-weight: bold;
        color: #ff5912;
        padding-top: 20px;
    }
}
